.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.096000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.128000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.848145;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.322266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.259277;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff10;src:url(f10.woff)format("woff");}.ff10{font-family:ff10;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff11;src:url(f11.woff)format("woff");}.ff11{font-family:ff11;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff12;src:url(f12.woff)format("woff");}.ff12{font-family:ff12;line-height:1.109863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff13;src:url(f13.woff)format("woff");}.ff13{font-family:ff13;line-height:1.392578;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff14;src:url(f14.woff)format("woff");}.ff14{font-family:ff14;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff15;src:url(f15.woff)format("woff");}.ff15{font-family:ff15;line-height:1.322266;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff16;src:url(f16.woff)format("woff");}.ff16{font-family:ff16;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff17;src:url(f17.woff)format("woff");}.ff17{font-family:ff17;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff18;src:url(f18.woff)format("woff");}.ff18{font-family:ff18;line-height:1.334000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff19;src:url(f19.woff)format("woff");}.ff19{font-family:ff19;line-height:1.349000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1a;src:url(f1a.woff)format("woff");}.ff1a{font-family:ff1a;line-height:1.334000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1b;src:url(f1b.woff)format("woff");}.ff1b{font-family:ff1b;line-height:1.259277;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff1c;src:url(f1c.woff)format("woff");}.ff1c{font-family:ff1c;line-height:1.259277;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249987,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249987,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249987,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249993,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249993,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249993,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-3.036000px;}
.ls2{letter-spacing:-2.176000px;}
.ls3{letter-spacing:-1.632000px;}
.ls1{letter-spacing:-1.113600px;}
.lsc{letter-spacing:-1.111280px;}
.lsa{letter-spacing:-0.608000px;}
.ls6{letter-spacing:-0.544000px;}
.ls8{letter-spacing:-0.448000px;}
.ls9{letter-spacing:-0.384000px;}
.lsb{letter-spacing:-0.192000px;}
.lsd{letter-spacing:-0.006400px;}
.ls7{letter-spacing:-0.003200px;}
.lse{letter-spacing:-0.003000px;}
.ls0{letter-spacing:0.000000px;}
.ls5{letter-spacing:0.003200px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsd{word-spacing:-1.280000px;}
.ws10{word-spacing:-1.248000px;}
.ws20{word-spacing:-1.120000px;}
.wsb{word-spacing:-1.088000px;}
.ws32{word-spacing:-1.056000px;}
.ws29{word-spacing:-1.024000px;}
.wsc{word-spacing:-0.960000px;}
.ws13{word-spacing:-0.896000px;}
.wsf{word-spacing:-0.864000px;}
.ws34{word-spacing:-0.806000px;}
.ws24{word-spacing:-0.736000px;}
.ws12{word-spacing:-0.704000px;}
.ws23{word-spacing:-0.702000px;}
.ws25{word-spacing:-0.672000px;}
.ws1c{word-spacing:-0.320000px;}
.ws1b{word-spacing:-0.288000px;}
.wse{word-spacing:-0.192000px;}
.ws1a{word-spacing:-0.096000px;}
.ws22{word-spacing:-0.032000px;}
.ws5{word-spacing:0.000000px;}
.ws2a{word-spacing:0.032000px;}
.ws39{word-spacing:0.090000px;}
.wsa{word-spacing:0.124800px;}
.ws9{word-spacing:0.128000px;}
.ws3a{word-spacing:0.192000px;}
.ws38{word-spacing:0.352000px;}
.ws37{word-spacing:0.416000px;}
.ws11{word-spacing:0.448000px;}
.ws14{word-spacing:0.512000px;}
.ws15{word-spacing:0.672000px;}
.ws3{word-spacing:0.719200px;}
.ws26{word-spacing:0.736000px;}
.ws2e{word-spacing:0.768000px;}
.ws6{word-spacing:0.806000px;}
.ws31{word-spacing:0.813800px;}
.ws33{word-spacing:0.816000px;}
.ws1{word-spacing:0.868000px;}
.ws36{word-spacing:0.930000px;}
.ws2{word-spacing:0.946400px;}
.ws0{word-spacing:0.952000px;}
.ws1f{word-spacing:0.960000px;}
.ws7{word-spacing:0.992000px;}
.ws17{word-spacing:1.020000px;}
.ws1e{word-spacing:1.056000px;}
.ws8{word-spacing:1.088000px;}
.ws18{word-spacing:1.120000px;}
.ws35{word-spacing:1.300000px;}
.ws1d{word-spacing:1.632000px;}
.ws19{word-spacing:1.760000px;}
.ws21{word-spacing:1.888000px;}
.ws4{word-spacing:2.176000px;}
.ws16{word-spacing:2.336000px;}
.ws2d{word-spacing:2.624000px;}
.ws30{word-spacing:2.912000px;}
.ws2f{word-spacing:3.616000px;}
.ws2c{word-spacing:4.160000px;}
.ws2b{word-spacing:4.640000px;}
.ws28{word-spacing:6.048000px;}
.ws27{word-spacing:6.720000px;}
._1d{margin-left:-88.868823px;}
._1a{margin-left:-4.296000px;}
._5{margin-left:-3.200000px;}
._3{margin-left:-1.832800px;}
._2{width:1.113600px;}
._14{width:2.592000px;}
._6{width:8.520000px;}
._7{width:10.120000px;}
._e{width:11.881600px;}
._10{width:14.216800px;}
._f{width:15.720800px;}
._4{width:17.536000px;}
._c{width:22.729600px;}
._12{width:25.350400px;}
._1{width:31.640000px;}
._0{width:40.040000px;}
._1b{width:42.196000px;}
._8{width:68.896000px;}
._13{width:125.088000px;}
._19{width:144.576000px;}
._d{width:153.464000px;}
._a{width:214.688000px;}
._1c{width:320.700000px;}
._11{width:327.008000px;}
._b{width:331.950000px;}
._18{width:363.116000px;}
._16{width:389.588600px;}
._17{width:679.640000px;}
._15{width:730.184000px;}
._9{width:766.944000px;}
.fc2{color:rgb(35,31,32);}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs8{font-size:16.000000px;}
.fs1{font-size:23.200000px;}
.fse{font-size:24.000000px;}
.fs5{font-size:26.000000px;}
.fs0{font-size:28.000000px;}
.fs7{font-size:30.000000px;}
.fs4{font-size:32.000000px;}
.fs9{font-size:35.991840px;}
.fsd{font-size:39.999960px;}
.fsc{font-size:40.000000px;}
.fsb{font-size:40.000040px;}
.fsa{font-size:43.999912px;}
.fs6{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs2{font-size:64.000000px;}
.y27{bottom:0.030000px;}
.y55{bottom:2.802397px;}
.y53{bottom:2.802400px;}
.y4f{bottom:2.802403px;}
.yc4{bottom:3.322000px;}
.y44{bottom:3.374493px;}
.y4a{bottom:3.374500px;}
.y4b{bottom:3.999500px;}
.y47{bottom:4.406980px;}
.y3b{bottom:4.407000px;}
.ybe{bottom:4.719500px;}
.y42{bottom:5.032000px;}
.y8e{bottom:5.344480px;}
.y8a{bottom:5.344500px;}
.y8c{bottom:5.946500px;}
.y38{bottom:12.861900px;}
.y37{bottom:15.202200px;}
.y88{bottom:23.250000px;}
.y0{bottom:24.000000px;}
.y1{bottom:24.997600px;}
.yc5{bottom:24.999200px;}
.y39{bottom:25.165400px;}
.y3{bottom:26.640900px;}
.yc7{bottom:26.642400px;}
.y2{bottom:34.250500px;}
.yc6{bottom:34.252000px;}
.y4d{bottom:45.449000px;}
.y87{bottom:47.582000px;}
.y7c{bottom:48.574000px;}
.y36{bottom:49.961600px;}
.y7a{bottom:52.576900px;}
.yce{bottom:55.779700px;}
.y35{bottom:63.573600px;}
.yb6{bottom:68.258200px;}
.y79{bottom:69.176900px;}
.y86{bottom:71.914000px;}
.y34{bottom:72.069600px;}
.yb5{bottom:75.258700px;}
.y78{bottom:77.672900px;}
.ycd{bottom:77.777200px;}
.yef{bottom:79.178000px;}
.y33{bottom:80.565600px;}
.y85{bottom:84.080000px;}
.y32{bottom:89.061600px;}
.y77{bottom:95.776900px;}
.y84{bottom:96.246000px;}
.yb4{bottom:96.260200px;}
.yd7{bottom:98.624992px;}
.yee{bottom:103.510000px;}
.y76{bottom:104.272900px;}
.y83{bottom:108.412000px;}
.y52{bottom:109.875000px;}
.yb3{bottom:110.261200px;}
.y58{bottom:111.254997px;}
.y31{bottom:112.528700px;}
.y30{bottom:112.561700px;}
.y75{bottom:112.768900px;}
.yed{bottom:115.676000px;}
.yb2{bottom:117.261700px;}
.y74{bottom:121.264900px;}
.y51{bottom:121.750001px;}
.y57{bottom:123.501999px;}
.yb1{bottom:124.262200px;}
.y2f{bottom:124.528700px;}
.y2e{bottom:124.561700px;}
.yec{bottom:127.842000px;}
.y73{bottom:129.760900px;}
.yb0{bottom:131.262700px;}
.y82{bottom:132.744000px;}
.y50{bottom:134.250001px;}
.y56{bottom:135.750000px;}
.y2d{bottom:136.528700px;}
.y2c{bottom:136.561700px;}
.yaf{bottom:143.282700px;}
.y81{bottom:144.910000px;}
.yae{bottom:145.262700px;}
.y54{bottom:146.125014px;}
.y72{bottom:147.864900px;}
.y2b{bottom:148.528800px;}
.y2a{bottom:148.561800px;}
.yeb{bottom:152.174000px;}
.y71{bottom:156.360900px;}
.y4e{bottom:158.000001px;}
.y28{bottom:160.528800px;}
.y29{bottom:160.561800px;}
.y26{bottom:160.562400px;}
.y70{bottom:164.864900px;}
.y80{bottom:169.242000px;}
.y6f{bottom:173.360900px;}
.y9a{bottom:173.647800px;}
.yea{bottom:176.506000px;}
.y99{bottom:179.647900px;}
.y7f{bottom:181.408000px;}
.y25{bottom:183.562400px;}
.y6e{bottom:191.464900px;}
.y98{bottom:191.647900px;}
.y7e{bottom:193.574000px;}
.y6d{bottom:199.960900px;}
.ye9{bottom:200.838000px;}
.y24{bottom:203.562400px;}
.y97{bottom:203.647900px;}
.ye8{bottom:213.004000px;}
.y96{bottom:215.647900px;}
.y6c{bottom:218.056900px;}
.y4c{bottom:218.875015px;}
.ye7{bottom:225.170000px;}
.y6b{bottom:226.560900px;}
.y95{bottom:227.647900px;}
.ye6{bottom:237.336000px;}
.y6a{bottom:244.660900px;}
.y69{bottom:244.682200px;}
.y94{bottom:245.648000px;}
.ye5{bottom:249.502000px;}
.y93{bottom:251.648000px;}
.y68{bottom:269.186200px;}
.y92{bottom:269.647900px;}
.ye4{bottom:273.834000px;}
.y23{bottom:275.562400px;}
.y91{bottom:275.652000px;}
.y67{bottom:277.682200px;}
.ye3{bottom:286.000000px;}
.y66{bottom:286.178200px;}
.y22{bottom:291.562400px;}
.y65{bottom:294.674200px;}
.y90{bottom:296.652000px;}
.ye2{bottom:298.166000px;}
.y64{bottom:303.170200px;}
.y21{bottom:303.562400px;}
.y8f{bottom:305.148000px;}
.y63{bottom:311.666200px;}
.ybc{bottom:319.520100px;}
.y62{bottom:320.162200px;}
.y20{bottom:320.562400px;}
.ye1{bottom:322.498000px;}
.y61{bottom:328.658200px;}
.y1f{bottom:332.562400px;}
.ye0{bottom:334.664000px;}
.ybb{bottom:339.360300px;}
.y1e{bottom:344.562400px;}
.y60{bottom:346.762200px;}
.ydf{bottom:346.830000px;}
.y1d{bottom:356.562400px;}
.y8d{bottom:356.662018px;}
.y5f{bottom:358.762200px;}
.yde{bottom:358.996000px;}
.yba{bottom:363.360300px;}
.ydd{bottom:371.162000px;}
.y1c{bottom:375.762400px;}
.y5e{bottom:376.361200px;}
.y8b{bottom:377.000000px;}
.y89{bottom:380.375000px;}
.y5d{bottom:382.362400px;}
.yb9{bottom:387.360300px;}
.y49{bottom:387.375000px;}
.y1b{bottom:387.762400px;}
.ydc{bottom:395.494000px;}
.y48{bottom:397.625000px;}
.y1a{bottom:399.762400px;}
.y5c{bottom:407.362400px;}
.ydb{bottom:407.660000px;}
.yb8{bottom:411.360300px;}
.yda{bottom:419.826000px;}
.y46{bottom:423.245026px;}
.y19{bottom:424.362400px;}
.y5b{bottom:431.362400px;}
.yb7{bottom:436.360300px;}
.y45{bottom:442.500000px;}
.y18{bottom:443.362400px;}
.yd9{bottom:444.158000px;}
.y7d{bottom:446.375000px;}
.y17{bottom:455.362400px;}
.yd8{bottom:456.324000px;}
.yad{bottom:457.260300px;}
.yc3{bottom:460.250000px;}
.y16{bottom:461.362700px;}
.y43{bottom:461.630003px;}
.yac{bottom:463.260400px;}
.y15{bottom:486.362700px;}
.yab{bottom:490.260400px;}
.y14{bottom:497.362700px;}
.y41{bottom:505.750000px;}
.y40{bottom:507.000000px;}
.y13{bottom:508.362700px;}
.yaa{bottom:517.260500px;}
.yc2{bottom:522.000000px;}
.ya9{bottom:523.260500px;}
.y12{bottom:532.362700px;}
.ya8{bottom:538.260500px;}
.yc1{bottom:543.250000px;}
.ya7{bottom:544.260600px;}
.y3f{bottom:555.125000px;}
.y11{bottom:556.362700px;}
.ya6{bottom:567.260600px;}
.y3e{bottom:579.380005px;}
.y10{bottom:580.362700px;}
.ya5{bottom:583.764600px;}
.yd6{bottom:586.375000px;}
.ycc{bottom:587.777200px;}
.ya4{bottom:592.260600px;}
.yf{bottom:604.362700px;}
.yd5{bottom:610.750000px;}
.ycb{bottom:611.777200px;}
.ye{bottom:628.362700px;}
.yd4{bottom:634.500000px;}
.yca{bottom:635.777300px;}
.ya3{bottom:639.760700px;}
.yc0{bottom:644.500000px;}
.ya2{bottom:645.760700px;}
.yd{bottom:646.362700px;}
.y3d{bottom:651.375000px;}
.yc{bottom:652.362800px;}
.yd3{bottom:658.755005px;}
.yc9{bottom:659.777300px;}
.ya1{bottom:660.760700px;}
.ybf{bottom:665.750000px;}
.ya0{bottom:666.760700px;}
.yb{bottom:670.362800px;}
.y5a{bottom:671.362400px;}
.y3c{bottom:675.630005px;}
.ya{bottom:676.362900px;}
.yc8{bottom:679.777300px;}
.y7b{bottom:681.375000px;}
.y9f{bottom:681.760800px;}
.ybd{bottom:686.375000px;}
.y9e{bottom:687.761200px;}
.y3a{bottom:699.380005px;}
.y9{bottom:700.362900px;}
.y9d{bottom:710.761200px;}
.yd0{bottom:732.865500px;}
.y5{bottom:733.245700px;}
.yd2{bottom:737.588400px;}
.y9c{bottom:738.865200px;}
.y7{bottom:739.458100px;}
.y59{bottom:743.362400px;}
.yd1{bottom:744.588400px;}
.ycf{bottom:746.865500px;}
.y4{bottom:747.245700px;}
.y9b{bottom:747.361200px;}
.y8{bottom:747.394900px;}
.y6{bottom:747.458100px;}
.h1c{height:12.374988px;}
.h1a{height:12.375000px;}
.h18{height:12.375012px;}
.h24{height:12.875000px;}
.h13{height:14.249972px;}
.h15{height:14.250000px;}
.hd{height:14.343750px;}
.h16{height:15.500000px;}
.h10{height:16.250000px;}
.h23{height:16.875000px;}
.h12{height:17.500000px;}
.h20{height:18.125000px;}
.h3{height:20.044800px;}
.h22{height:20.160000px;}
.h7{height:22.464000px;}
.hb{height:22.562500px;}
.h2{height:24.192000px;}
.h26{height:24.499200px;}
.hc{height:25.200000px;}
.h6{height:26.880000px;}
.h2e{height:27.456000px;}
.h9{height:27.648000px;}
.he{height:29.107422px;}
.h25{height:29.960000px;}
.h27{height:31.680000px;}
.h2a{height:32.100000px;}
.h29{height:33.792000px;}
.h28{height:34.240000px;}
.h21{height:34.750000px;}
.hf{height:34.954966px;}
.h1d{height:35.956995px;}
.h1b{height:35.957031px;}
.h19{height:35.957067px;}
.h8{height:36.960000px;}
.h5{height:40.320000px;}
.h14{height:45.740143px;}
.h11{height:45.740234px;}
.h2d{height:47.080000px;}
.h2c{height:51.360000px;}
.h4{height:53.760000px;}
.h17{height:56.250000px;}
.h1e{height:59.375000px;}
.h2b{height:68.480000px;}
.h1f{height:204.375000px;}
.h2f{height:466.125000px;}
.h1{height:768.000000px;}
.ha{height:791.970000px;}
.h0{height:792.000000px;}
.w15{width:11.124989px;}
.w16{width:11.125000px;}
.w4{width:34.316000px;}
.w29{width:35.325100px;}
.w21{width:36.616000px;}
.w1e{width:40.750000px;}
.w1b{width:44.495000px;}
.w13{width:65.500000px;}
.w1a{width:67.500000px;}
.w27{width:71.250000px;}
.w9{width:75.625000px;}
.wd{width:85.625000px;}
.w12{width:88.625000px;}
.w19{width:89.375000px;}
.w1c{width:96.250000px;}
.w11{width:100.000000px;}
.w28{width:104.952000px;}
.w17{width:108.125000px;}
.w3{width:130.683000px;}
.wb{width:149.375000px;}
.wa{width:151.875000px;}
.w8{width:171.250000px;}
.w2{width:193.750000px;}
.w1d{width:196.653000px;}
.w20{width:197.500000px;}
.w25{width:209.375000px;}
.w26{width:242.500000px;}
.w7{width:268.750000px;}
.w24{width:276.250000px;}
.we{width:328.500000px;}
.wc{width:344.375000px;}
.wf{width:346.250000px;}
.w22{width:448.750000px;}
.w23{width:453.125000px;}
.w6{width:453.750000px;}
.w5{width:466.250000px;}
.w10{width:466.875000px;}
.w14{width:524.375000px;}
.w2a{width:537.375000px;}
.w18{width:571.500000px;}
.w1{width:580.000000px;}
.w1f{width:580.500000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x22{left:1.332499px;}
.x7{left:36.000100px;}
.x9{left:38.712100px;}
.x31{left:40.738200px;}
.x1a{left:52.500000px;}
.xa{left:54.000100px;}
.x2{left:55.548400px;}
.x2a{left:78.266998px;}
.x2c{left:85.621200px;}
.x38{left:86.875000px;}
.x15{left:108.750000px;}
.x1e{left:110.624992px;}
.x16{left:120.624992px;}
.x1f{left:141.875015px;}
.x3{left:144.264300px;}
.xc{left:162.000100px;}
.x1d{left:168.750000px;}
.xd{left:180.000300px;}
.x10{left:216.000400px;}
.x26{left:223.546400px;}
.x36{left:224.875015px;}
.x18{left:228.750000px;}
.x33{left:235.922500px;}
.x21{left:239.125014px;}
.x35{left:243.125015px;}
.x1c{left:244.375015px;}
.x25{left:260.524500px;}
.x34{left:262.599500px;}
.x32{left:267.903500px;}
.x8{left:288.000500px;}
.x2b{left:290.678009px;}
.xb{left:301.715600px;}
.x2d{left:311.607600px;}
.x2e{left:313.903600px;}
.x3a{left:318.750000px;}
.xe{left:324.000600px;}
.x27{left:345.000000px;}
.x24{left:346.875000px;}
.x2f{left:360.814700px;}
.x39{left:365.000000px;}
.x20{left:375.375000px;}
.x14{left:386.010010px;}
.x28{left:412.630005px;}
.x3b{left:416.996979px;}
.x19{left:426.250000px;}
.x1{left:434.279800px;}
.x30{left:438.604900px;}
.xf{left:468.000900px;}
.x29{left:479.375000px;}
.x5{left:482.170900px;}
.x1b{left:485.000000px;}
.x17{left:497.500000px;}
.x12{left:502.558500px;}
.x23{left:527.250000px;}
.x4{left:531.700000px;}
.x11{left:538.913100px;}
.x6{left:554.877000px;}
.x37{left:561.205720px;}
.x13{left:571.493100px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-4.048000pt;}
.ls2{letter-spacing:-2.901333pt;}
.ls3{letter-spacing:-2.176000pt;}
.ls1{letter-spacing:-1.484800pt;}
.lsc{letter-spacing:-1.481707pt;}
.lsa{letter-spacing:-0.810667pt;}
.ls6{letter-spacing:-0.725333pt;}
.ls8{letter-spacing:-0.597333pt;}
.ls9{letter-spacing:-0.512000pt;}
.lsb{letter-spacing:-0.256000pt;}
.lsd{letter-spacing:-0.008533pt;}
.ls7{letter-spacing:-0.004267pt;}
.lse{letter-spacing:-0.004000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls5{letter-spacing:0.004267pt;}
.wsd{word-spacing:-1.706667pt;}
.ws10{word-spacing:-1.664000pt;}
.ws20{word-spacing:-1.493333pt;}
.wsb{word-spacing:-1.450667pt;}
.ws32{word-spacing:-1.408000pt;}
.ws29{word-spacing:-1.365333pt;}
.wsc{word-spacing:-1.280000pt;}
.ws13{word-spacing:-1.194667pt;}
.wsf{word-spacing:-1.152000pt;}
.ws34{word-spacing:-1.074667pt;}
.ws24{word-spacing:-0.981333pt;}
.ws12{word-spacing:-0.938667pt;}
.ws23{word-spacing:-0.936000pt;}
.ws25{word-spacing:-0.896000pt;}
.ws1c{word-spacing:-0.426667pt;}
.ws1b{word-spacing:-0.384000pt;}
.wse{word-spacing:-0.256000pt;}
.ws1a{word-spacing:-0.128000pt;}
.ws22{word-spacing:-0.042667pt;}
.ws5{word-spacing:0.000000pt;}
.ws2a{word-spacing:0.042667pt;}
.ws39{word-spacing:0.120000pt;}
.wsa{word-spacing:0.166400pt;}
.ws9{word-spacing:0.170667pt;}
.ws3a{word-spacing:0.256000pt;}
.ws38{word-spacing:0.469333pt;}
.ws37{word-spacing:0.554667pt;}
.ws11{word-spacing:0.597333pt;}
.ws14{word-spacing:0.682667pt;}
.ws15{word-spacing:0.896000pt;}
.ws3{word-spacing:0.958933pt;}
.ws26{word-spacing:0.981333pt;}
.ws2e{word-spacing:1.024000pt;}
.ws6{word-spacing:1.074667pt;}
.ws31{word-spacing:1.085067pt;}
.ws33{word-spacing:1.088000pt;}
.ws1{word-spacing:1.157333pt;}
.ws36{word-spacing:1.240000pt;}
.ws2{word-spacing:1.261867pt;}
.ws0{word-spacing:1.269333pt;}
.ws1f{word-spacing:1.280000pt;}
.ws7{word-spacing:1.322667pt;}
.ws17{word-spacing:1.360000pt;}
.ws1e{word-spacing:1.408000pt;}
.ws8{word-spacing:1.450667pt;}
.ws18{word-spacing:1.493333pt;}
.ws35{word-spacing:1.733333pt;}
.ws1d{word-spacing:2.176000pt;}
.ws19{word-spacing:2.346667pt;}
.ws21{word-spacing:2.517333pt;}
.ws4{word-spacing:2.901333pt;}
.ws16{word-spacing:3.114667pt;}
.ws2d{word-spacing:3.498667pt;}
.ws30{word-spacing:3.882667pt;}
.ws2f{word-spacing:4.821333pt;}
.ws2c{word-spacing:5.546667pt;}
.ws2b{word-spacing:6.186667pt;}
.ws28{word-spacing:8.064000pt;}
.ws27{word-spacing:8.960000pt;}
._1d{margin-left:-118.491764pt;}
._1a{margin-left:-5.728000pt;}
._5{margin-left:-4.266667pt;}
._3{margin-left:-2.443733pt;}
._2{width:1.484800pt;}
._14{width:3.456000pt;}
._6{width:11.360000pt;}
._7{width:13.493333pt;}
._e{width:15.842133pt;}
._10{width:18.955733pt;}
._f{width:20.961067pt;}
._4{width:23.381333pt;}
._c{width:30.306133pt;}
._12{width:33.800533pt;}
._1{width:42.186667pt;}
._0{width:53.386667pt;}
._1b{width:56.261333pt;}
._8{width:91.861333pt;}
._13{width:166.784000pt;}
._19{width:192.768000pt;}
._d{width:204.618667pt;}
._a{width:286.250667pt;}
._1c{width:427.600000pt;}
._11{width:436.010667pt;}
._b{width:442.600000pt;}
._18{width:484.154667pt;}
._16{width:519.451467pt;}
._17{width:906.186667pt;}
._15{width:973.578667pt;}
._9{width:1022.592000pt;}
.fs8{font-size:21.333333pt;}
.fs1{font-size:30.933333pt;}
.fse{font-size:32.000000pt;}
.fs5{font-size:34.666667pt;}
.fs0{font-size:37.333333pt;}
.fs7{font-size:40.000000pt;}
.fs4{font-size:42.666667pt;}
.fs9{font-size:47.989120pt;}
.fsd{font-size:53.333280pt;}
.fsc{font-size:53.333333pt;}
.fsb{font-size:53.333387pt;}
.fsa{font-size:58.666549pt;}
.fs6{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:85.333333pt;}
.y27{bottom:0.040000pt;}
.y55{bottom:3.736530pt;}
.y53{bottom:3.736533pt;}
.y4f{bottom:3.736537pt;}
.yc4{bottom:4.429333pt;}
.y44{bottom:4.499324pt;}
.y4a{bottom:4.499333pt;}
.y4b{bottom:5.332667pt;}
.y47{bottom:5.875973pt;}
.y3b{bottom:5.876000pt;}
.ybe{bottom:6.292667pt;}
.y42{bottom:6.709333pt;}
.y8e{bottom:7.125973pt;}
.y8a{bottom:7.126000pt;}
.y8c{bottom:7.928667pt;}
.y38{bottom:17.149200pt;}
.y37{bottom:20.269600pt;}
.y88{bottom:31.000000pt;}
.y0{bottom:32.000000pt;}
.y1{bottom:33.330133pt;}
.yc5{bottom:33.332267pt;}
.y39{bottom:33.553867pt;}
.y3{bottom:35.521200pt;}
.yc7{bottom:35.523200pt;}
.y2{bottom:45.667333pt;}
.yc6{bottom:45.669333pt;}
.y4d{bottom:60.598667pt;}
.y87{bottom:63.442667pt;}
.y7c{bottom:64.765333pt;}
.y36{bottom:66.615467pt;}
.y7a{bottom:70.102533pt;}
.yce{bottom:74.372933pt;}
.y35{bottom:84.764800pt;}
.yb6{bottom:91.010933pt;}
.y79{bottom:92.235867pt;}
.y86{bottom:95.885333pt;}
.y34{bottom:96.092800pt;}
.yb5{bottom:100.344933pt;}
.y78{bottom:103.563867pt;}
.ycd{bottom:103.702933pt;}
.yef{bottom:105.570667pt;}
.y33{bottom:107.420800pt;}
.y85{bottom:112.106667pt;}
.y32{bottom:118.748800pt;}
.y77{bottom:127.702533pt;}
.y84{bottom:128.328000pt;}
.yb4{bottom:128.346933pt;}
.yd7{bottom:131.499989pt;}
.yee{bottom:138.013333pt;}
.y76{bottom:139.030533pt;}
.y83{bottom:144.549333pt;}
.y52{bottom:146.500000pt;}
.yb3{bottom:147.014933pt;}
.y58{bottom:148.339996pt;}
.y31{bottom:150.038267pt;}
.y30{bottom:150.082267pt;}
.y75{bottom:150.358533pt;}
.yed{bottom:154.234667pt;}
.yb2{bottom:156.348933pt;}
.y74{bottom:161.686533pt;}
.y51{bottom:162.333335pt;}
.y57{bottom:164.669332pt;}
.yb1{bottom:165.682933pt;}
.y2f{bottom:166.038267pt;}
.y2e{bottom:166.082267pt;}
.yec{bottom:170.456000pt;}
.y73{bottom:173.014533pt;}
.yb0{bottom:175.016933pt;}
.y82{bottom:176.992000pt;}
.y50{bottom:179.000001pt;}
.y56{bottom:181.000000pt;}
.y2d{bottom:182.038267pt;}
.y2c{bottom:182.082267pt;}
.yaf{bottom:191.043600pt;}
.y81{bottom:193.213333pt;}
.yae{bottom:193.683600pt;}
.y54{bottom:194.833352pt;}
.y72{bottom:197.153200pt;}
.y2b{bottom:198.038400pt;}
.y2a{bottom:198.082400pt;}
.yeb{bottom:202.898667pt;}
.y71{bottom:208.481200pt;}
.y4e{bottom:210.666668pt;}
.y28{bottom:214.038400pt;}
.y29{bottom:214.082400pt;}
.y26{bottom:214.083200pt;}
.y70{bottom:219.819867pt;}
.y80{bottom:225.656000pt;}
.y6f{bottom:231.147867pt;}
.y9a{bottom:231.530400pt;}
.yea{bottom:235.341333pt;}
.y99{bottom:239.530533pt;}
.y7f{bottom:241.877333pt;}
.y25{bottom:244.749867pt;}
.y6e{bottom:255.286533pt;}
.y98{bottom:255.530533pt;}
.y7e{bottom:258.098667pt;}
.y6d{bottom:266.614533pt;}
.ye9{bottom:267.784000pt;}
.y24{bottom:271.416533pt;}
.y97{bottom:271.530533pt;}
.ye8{bottom:284.005333pt;}
.y96{bottom:287.530533pt;}
.y6c{bottom:290.742533pt;}
.y4c{bottom:291.833353pt;}
.ye7{bottom:300.226667pt;}
.y6b{bottom:302.081200pt;}
.y95{bottom:303.530533pt;}
.ye6{bottom:316.448000pt;}
.y6a{bottom:326.214533pt;}
.y69{bottom:326.242933pt;}
.y94{bottom:327.530667pt;}
.ye5{bottom:332.669333pt;}
.y93{bottom:335.530667pt;}
.y68{bottom:358.914933pt;}
.y92{bottom:359.530533pt;}
.ye4{bottom:365.112000pt;}
.y23{bottom:367.416533pt;}
.y91{bottom:367.536000pt;}
.y67{bottom:370.242933pt;}
.ye3{bottom:381.333333pt;}
.y66{bottom:381.570933pt;}
.y22{bottom:388.749867pt;}
.y65{bottom:392.898933pt;}
.y90{bottom:395.536000pt;}
.ye2{bottom:397.554667pt;}
.y64{bottom:404.226933pt;}
.y21{bottom:404.749867pt;}
.y8f{bottom:406.864000pt;}
.y63{bottom:415.554933pt;}
.ybc{bottom:426.026800pt;}
.y62{bottom:426.882933pt;}
.y20{bottom:427.416533pt;}
.ye1{bottom:429.997333pt;}
.y61{bottom:438.210933pt;}
.y1f{bottom:443.416533pt;}
.ye0{bottom:446.218667pt;}
.ybb{bottom:452.480400pt;}
.y1e{bottom:459.416533pt;}
.y60{bottom:462.349600pt;}
.ydf{bottom:462.440000pt;}
.y1d{bottom:475.416533pt;}
.y8d{bottom:475.549357pt;}
.y5f{bottom:478.349600pt;}
.yde{bottom:478.661333pt;}
.yba{bottom:484.480400pt;}
.ydd{bottom:494.882667pt;}
.y1c{bottom:501.016533pt;}
.y5e{bottom:501.814933pt;}
.y8b{bottom:502.666667pt;}
.y89{bottom:507.166667pt;}
.y5d{bottom:509.816533pt;}
.yb9{bottom:516.480400pt;}
.y49{bottom:516.500000pt;}
.y1b{bottom:517.016533pt;}
.ydc{bottom:527.325333pt;}
.y48{bottom:530.166667pt;}
.y1a{bottom:533.016533pt;}
.y5c{bottom:543.149867pt;}
.ydb{bottom:543.546667pt;}
.yb8{bottom:548.480400pt;}
.yda{bottom:559.768000pt;}
.y46{bottom:564.326701pt;}
.y19{bottom:565.816533pt;}
.y5b{bottom:575.149867pt;}
.yb7{bottom:581.813733pt;}
.y45{bottom:590.000000pt;}
.y18{bottom:591.149867pt;}
.yd9{bottom:592.210667pt;}
.y7d{bottom:595.166667pt;}
.y17{bottom:607.149867pt;}
.yd8{bottom:608.432000pt;}
.yad{bottom:609.680400pt;}
.yc3{bottom:613.666667pt;}
.y16{bottom:615.150267pt;}
.y43{bottom:615.506671pt;}
.yac{bottom:617.680533pt;}
.y15{bottom:648.483600pt;}
.yab{bottom:653.680533pt;}
.y14{bottom:663.150267pt;}
.y41{bottom:674.333333pt;}
.y40{bottom:676.000000pt;}
.y13{bottom:677.816933pt;}
.yaa{bottom:689.680667pt;}
.yc2{bottom:696.000000pt;}
.ya9{bottom:697.680667pt;}
.y12{bottom:709.816933pt;}
.ya8{bottom:717.680667pt;}
.yc1{bottom:724.333333pt;}
.ya7{bottom:725.680800pt;}
.y3f{bottom:740.166667pt;}
.y11{bottom:741.816933pt;}
.ya6{bottom:756.347467pt;}
.y3e{bottom:772.506673pt;}
.y10{bottom:773.816933pt;}
.ya5{bottom:778.352800pt;}
.yd6{bottom:781.833333pt;}
.ycc{bottom:783.702933pt;}
.ya4{bottom:789.680800pt;}
.yf{bottom:805.816933pt;}
.yd5{bottom:814.333333pt;}
.ycb{bottom:815.702933pt;}
.ye{bottom:837.816933pt;}
.yd4{bottom:846.000000pt;}
.yca{bottom:847.703067pt;}
.ya3{bottom:853.014267pt;}
.yc0{bottom:859.333333pt;}
.ya2{bottom:861.014267pt;}
.yd{bottom:861.816933pt;}
.y3d{bottom:868.500000pt;}
.yc{bottom:869.817067pt;}
.yd3{bottom:878.340007pt;}
.yc9{bottom:879.703067pt;}
.ya1{bottom:881.014267pt;}
.ybf{bottom:887.666667pt;}
.ya0{bottom:889.014267pt;}
.yb{bottom:893.817067pt;}
.y5a{bottom:895.149867pt;}
.y3c{bottom:900.840007pt;}
.ya{bottom:901.817200pt;}
.yc8{bottom:906.369733pt;}
.y7b{bottom:908.500000pt;}
.y9f{bottom:909.014400pt;}
.ybd{bottom:915.166667pt;}
.y9e{bottom:917.014933pt;}
.y3a{bottom:932.506673pt;}
.y9{bottom:933.817200pt;}
.y9d{bottom:947.681600pt;}
.yd0{bottom:977.154000pt;}
.y5{bottom:977.660933pt;}
.yd2{bottom:983.451200pt;}
.y9c{bottom:985.153600pt;}
.y7{bottom:985.944133pt;}
.y59{bottom:991.149867pt;}
.yd1{bottom:992.784533pt;}
.ycf{bottom:995.820667pt;}
.y4{bottom:996.327600pt;}
.y9b{bottom:996.481600pt;}
.y8{bottom:996.526533pt;}
.y6{bottom:996.610800pt;}
.h1c{height:16.499983pt;}
.h1a{height:16.500000pt;}
.h18{height:16.500017pt;}
.h24{height:17.166667pt;}
.h13{height:18.999962pt;}
.h15{height:19.000000pt;}
.hd{height:19.125000pt;}
.h16{height:20.666667pt;}
.h10{height:21.666667pt;}
.h23{height:22.500000pt;}
.h12{height:23.333333pt;}
.h20{height:24.166667pt;}
.h3{height:26.726400pt;}
.h22{height:26.880000pt;}
.h7{height:29.952000pt;}
.hb{height:30.083333pt;}
.h2{height:32.256000pt;}
.h26{height:32.665600pt;}
.hc{height:33.600000pt;}
.h6{height:35.840000pt;}
.h2e{height:36.608000pt;}
.h9{height:36.864000pt;}
.he{height:38.809896pt;}
.h25{height:39.946667pt;}
.h27{height:42.240000pt;}
.h2a{height:42.800000pt;}
.h29{height:45.056000pt;}
.h28{height:45.653333pt;}
.h21{height:46.333333pt;}
.hf{height:46.606621pt;}
.h1d{height:47.942660pt;}
.h1b{height:47.942708pt;}
.h19{height:47.942756pt;}
.h8{height:49.280000pt;}
.h5{height:53.760000pt;}
.h14{height:60.986857pt;}
.h11{height:60.986979pt;}
.h2d{height:62.773333pt;}
.h2c{height:68.480000pt;}
.h4{height:71.680000pt;}
.h17{height:75.000000pt;}
.h1e{height:79.166667pt;}
.h2b{height:91.306667pt;}
.h1f{height:272.500000pt;}
.h2f{height:621.500000pt;}
.h1{height:1024.000000pt;}
.ha{height:1055.960000pt;}
.h0{height:1056.000000pt;}
.w15{width:14.833318pt;}
.w16{width:14.833333pt;}
.w4{width:45.754667pt;}
.w29{width:47.100133pt;}
.w21{width:48.821333pt;}
.w1e{width:54.333333pt;}
.w1b{width:59.326667pt;}
.w13{width:87.333333pt;}
.w1a{width:90.000000pt;}
.w27{width:95.000000pt;}
.w9{width:100.833333pt;}
.wd{width:114.166667pt;}
.w12{width:118.166667pt;}
.w19{width:119.166667pt;}
.w1c{width:128.333333pt;}
.w11{width:133.333333pt;}
.w28{width:139.936000pt;}
.w17{width:144.166667pt;}
.w3{width:174.244000pt;}
.wb{width:199.166667pt;}
.wa{width:202.500000pt;}
.w8{width:228.333333pt;}
.w2{width:258.333333pt;}
.w1d{width:262.204000pt;}
.w20{width:263.333333pt;}
.w25{width:279.166667pt;}
.w26{width:323.333333pt;}
.w7{width:358.333333pt;}
.w24{width:368.333333pt;}
.we{width:438.000000pt;}
.wc{width:459.166667pt;}
.wf{width:461.666667pt;}
.w22{width:598.333333pt;}
.w23{width:604.166667pt;}
.w6{width:605.000000pt;}
.w5{width:621.666667pt;}
.w10{width:622.500000pt;}
.w14{width:699.166667pt;}
.w2a{width:716.500000pt;}
.w18{width:762.000000pt;}
.w1{width:773.333333pt;}
.w1f{width:774.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x22{left:1.776665pt;}
.x7{left:48.000133pt;}
.x9{left:51.616133pt;}
.x31{left:54.317600pt;}
.x1a{left:70.000000pt;}
.xa{left:72.000133pt;}
.x2{left:74.064533pt;}
.x2a{left:104.355997pt;}
.x2c{left:114.161600pt;}
.x38{left:115.833333pt;}
.x15{left:145.000000pt;}
.x1e{left:147.499989pt;}
.x16{left:160.833323pt;}
.x1f{left:189.166687pt;}
.x3{left:192.352400pt;}
.xc{left:216.000133pt;}
.x1d{left:225.000000pt;}
.xd{left:240.000400pt;}
.x10{left:288.000533pt;}
.x26{left:298.061867pt;}
.x36{left:299.833353pt;}
.x18{left:305.000000pt;}
.x33{left:314.563333pt;}
.x21{left:318.833352pt;}
.x35{left:324.166687pt;}
.x1c{left:325.833353pt;}
.x25{left:347.366000pt;}
.x34{left:350.132667pt;}
.x32{left:357.204667pt;}
.x8{left:384.000667pt;}
.x2b{left:387.570679pt;}
.xb{left:402.287467pt;}
.x2d{left:415.476800pt;}
.x2e{left:418.538133pt;}
.x3a{left:425.000000pt;}
.xe{left:432.000800pt;}
.x27{left:460.000000pt;}
.x24{left:462.500000pt;}
.x2f{left:481.086267pt;}
.x39{left:486.666667pt;}
.x20{left:500.500000pt;}
.x14{left:514.680013pt;}
.x28{left:550.173340pt;}
.x3b{left:555.995972pt;}
.x19{left:568.333333pt;}
.x1{left:579.039733pt;}
.x30{left:584.806533pt;}
.xf{left:624.001200pt;}
.x29{left:639.166667pt;}
.x5{left:642.894533pt;}
.x1b{left:646.666667pt;}
.x17{left:663.333333pt;}
.x12{left:670.078000pt;}
.x23{left:703.000000pt;}
.x4{left:708.933333pt;}
.x11{left:718.550800pt;}
.x6{left:739.836000pt;}
.x37{left:748.274293pt;}
.x13{left:761.990800pt;}
}
