.navbar{
    padding-top: 20px;
}

.text-center {
    color: lightseagreen;
}

.media-heading{
    color:lightcoral;
}

.released-date{
    color: lightgreen;
}

.media{
    color: grey;
}

body{
    background: rgb(247, 253, 255)
}
